@import 'bootstrap'
@import 'fonts'
@import 'vars'

body
	font-family: $font-rubik

.header
	@extend .position-relative
	width: 100%
	height: 850px
	background-color: $color-gray

	&__background
		overflow-x: hidden
		display: flex
		justify-content: center
		z-index: 1

.background
	@extend .position-absolute
	width: 100%
	height: 100%

	&__gradient
		@extend .background
		background-image: linear-gradient(149.33deg, #395C4D 0.87%, #132D1F 94.27%)
		background-size: 1440px 1072px

		@media only screen and (min-width: 1457px)
			background-size: cover
	
	&__image
		@extend .background
		background-image: url('@img/background.png')
		background-repeat: no-repeat
		background-position: center -80px
		opacity: 0.2

		@media only screen and (min-width: 1457px)
			background-size: cover

.details
	@extend .position-absolute
	overflow-x: unset
	width: 1440px
	height: 100%

	&__circle, &__triangle, &__cubes
		@extend .position-absolute
	
	&__circle
		&_number
			&_1
				top: 296px
				left: 83.33%
				width: 364px
				height: 364px
				border-radius: 50%
				background-color: $color-light-green
				filter: blur(102px)
				opacity: 0.1
			
			&_2
				top: 193px
				left: 10%
				width: 100px
				height: 100px
				border-radius: 50%
				background-color: $color-light-green
				filter: blur(102px)
				opacity: 0.2
	
	&__triangle
		&_position
			&_left
				top: 543px
				left: -182px
				width: 1207px
				height: 307px
				background-image: url('@img/left-triangle.svg')
				background-repeat: no-repeat
			
			&_right
				top: 612px
				left: 1058.29px
				width: 648.71px
				height: 238px
				background-image: url('@img/right-triangle.svg')
				background-repeat: no-repeat
	
	&__cubes
		&_position
			&_left
				top: 370px
				left: -110px
				width: 416.8px
				height: 480px
				overflow-y: hidden
				background-image: url('@img/left-cubes-header.svg')
				background-repeat: no-repeat
			
			&_right
				top: 601px
				left: 1334px
				width: 217.26px
				height: 249px
				overflow-y: hidden
				background-image: url('@img/right-cubes-header.svg')
				background-repeat: no-repeat

.container
	max-width: 1170px

.menu
	@extend .navbar 
	padding: 40px 0
	box-sizing: content-box
	z-index: 2

	&__container
		@extend .container-fluid
		height: 100%
		padding: 0
		
	&__collapse
		@extend .navbar-collapse
		@extend .collapse
		@extend .d-flex
		@extend .justify-content-between
		width: 100%
	
	&__logo
		@extend .navbar-brand
		@extend .d-flex
		padding: 0
		margin: 0

		&-icon
			width: 30px
			height: 30px
			margin-right: 8px
			background-image: url('@img/logo.svg')
			background-repeat: no-repeat
		
		&-text
			font-weight: 600
			font-size: 26px
			line-height: 31px
			letter-spacing: 0.02em
			text-transform: lowercase
			color: $color-white
	
	&__list
		@extend .navbar-nav
		@extend .flex-row
	
	&__item
		@extend .nav-item
		margin-left: 25px
		margin-right: 25px

		&:first-child
			margin-left: 0px
		
		&:last-child
			margin-right: 0px
	
	&__link
		@extend .nav-link
		font-weight: 400
		font-size: 16px
		line-height: 19px
		color: $color-white

		&:hover, &:active:focus, &:active
			color: $color-light-yellow
		
		&:focus
			color: $color-white
	
	&__button
		@extend .btn
		@extend .btn-primary
		padding: 18px 35px
		background-color: rgba($color-white, 0.1)
		outline: none
		border: 1px solid rgba(237, 255, 129, 0.4)
		border-radius: 116px
		font-family: $font-rubik
		font-weight: 500
		font-size: 16px
		line-height: 19px
		text-align: center
		color: $color-white

		&:hover
			background-color: rgba($color-light-yellow, 0.4)
			border: 1px solid rgba($color-light-yellow, 0.4)
			color: $color-black
		
		&:active, &:active:focus
			background-color: $color-white
			border: 1px solid $color-white
			color: $color-black
			box-shadow: none
			outline: none
		
		&:focus
			background-color: rgba($color-white, 0.1)
			border: 1px solid rgba($color-light-yellow, 0.4)
			color: $color-white
			outline: none
			box-shadow: none

.title
	@extend .text-center
	font-weight: 700
	font-size: 42px
	line-height: 65px
	letter-spacing: 0.02em
	color: $color-dark-green

.description
	font-size: 22px
	line-height: 40px
	color: $color-dark-gray

.button
	@extend .btn
	@extend .btn-primary
	padding: 27px 62px
	border: 0
	outline: 0
	background-color: $color-light-green
	background-image: linear-gradient(328.68deg, #98AA28 13.03%, #D6FF7E 120.61%)
	box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07)
	border-radius: 192px
	font-weight: 600
	font-size: 20px
	line-height: 24px
	letter-spacing: 0.02em
	text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25)
	text-transform: capitalize
	color: $color-white

	&:active, &:active:focus, &:focus
		box-shadow: 0px 34px 50px rgba(7, 63, 67, 0.07)

.representation
	@extend .d-flex
	@extend .justify-content-center
	@extend .position-relative
	margin-top: 85px
	z-index: 2

	&__container
		@extend .d-flex
		@extend .flex-column
		@extend .align-items-center
		width: 810px
		padding: 0
	
	&__title
		color: $color-white
		margin-bottom: 30px

		&-text
			&_small
				@extend .position-relative
				margin-bottom: 30px
				font-weight: 500
				font-size: 36px
				line-height: 43px
				letter-spacing: 0.02em
				text-transform: capitalize
				opacity: 0.8

				&::before
					content: ''
					position: absolute
					top: 17px
					width: 60px
					margin-left: -110px
					border: 0.5px solid $color-white
					opacity: 0.4

				&::after
					content: ''
					position: absolute
					top: 17px
					width: 60px
					margin-left: 50px
					border: 0.5px solid $color-white
					opacity: 0.4

			&_big
				@extend .position-relative
				font-weight: 600
				font-size: 89px
				line-height: 107px
				letter-spacing: 0.04em

			&-wave
				@extend .position-absolute
				right: 0
				bottom: 0
				width: 470px
				height: 12px

				--size: 10.2px
				--b: 2px
				--p: 26.7px
				--R: calc(28.7px + var(--b) / 2)
				
				--_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%
				mask: radial-gradient(var(--R) at left 50% bottom calc(-1 * var(--p)), var(--_g)) calc(50% - 2 * var(--size)) calc(50% - var(--size) / 2 - var(--b) / 2) / calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x, radial-gradient(var(--R) at left 50% top calc(-1 * var(--p)), var(--_g)) 50% calc(50% + var(--size) / 2 + var(--b) / 2) / calc(4 * var(--size)) calc(var(--size) + var(--b)) repeat-x
				background-color: $color-lightest-green
				opacity: 0.5

	&__description
		@extend .text-center
		width: 686px
		margin-bottom: 70px
		color: $color-white
		opacity: 0.6