section.business
	.container.business__container
		.business__img
		.social-block
			h2.title.social-block__title Increase Business on Social Media Reach
			p.description.social-block__description
				|Using our network of industry influencers, we help promote your content
			button.button(type="button") Get started