header.header
	.background.header__background
		.background__gradient
		.background__image

		.details
			.details__circle.details__circle--1
			.details__circle.details__circle--2
			.details__triangle.details__triangle--left
			.details__triangle.details__triangle--right
			.details__cubes.details__cubes--left
			.details__cubes.details__cubes--right
	
	nav.menu
		.container.menu__container
			.menu__collapse.show#navbarSupportedContent
				a.menu__logo(href="/")
					.menu__logo-icon
					.menu__logo-text Markethink
				
				ul.menu__list
					li.menu__item
						a.menu__link(href="#") Features
					li.menu__item
						a.menu__link(href="#") Pricing
					li.menu__item
						a.menu__link(href="#") About
					li.menu__item
						a.menu__link(href="#") Contact Us
				
				button.menu__button(type="button") Free Trial
	
	.representation
		.container.representation__container
			h1.title.representation__title
				span.representation__title-text.representation__title-text--small The best
				br
				strong.representation__title-text.representation__title-text--big Digital Marketing
					span.representation__title-text-wave

			p.description.representation__description
				|Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer

			button.button(type="button") Get started