section.subscription
	h2.title(hidden) Subscription
	.container.subscription__container
		.background
			.background__gradient.subscription__gradient
			.background__image.subscription__image
		
		.details.subscription__details
			.details__cubes-subscription.details__cubes-subscription--left
			.details__cubes-subscription.details__cubes-subscription--right
		
		.contact
			p.contact__request Subscribe to get information, latest news and other interesting offers about
			.contact__logo
				.contact__logo-icon
				.contact__logo-text markethink
			form.form
				.form__line
					input.form__email(type="email", placeholder="Your email")
					button.button.form__button(type="submit") Subscribe