doctype html
html(lang="ru")
	-
		const title = 'Markethink'
	include pug/head.pug

	body
		include pug/header.pug

		main.main
			include pug/company.pug
			include pug/agency.pug
			include pug/business.pug
			include pug/help.pug
			include pug/articles.pug
		
		include pug/footer.pug
		
		include pug/scripts.pug