doctype html
html(lang="ru")
	include pug/head.pug
	body
		include pug/header.pug

		main
			section.sec1 
				img(src="@img/preview.jpg")
			section.sec2 Секция 2
			section.sec3 Секция 3
		
		include pug/footer.pug
		
		include pug/scripts.pug